<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seezoon.modules.sys.dao.SysParamDao">
    <resultMap id="BaseResultMap" type="com.seezoon.modules.sys.entity.SysParam">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="param_key" jdbcType="VARCHAR" property="paramKey"/>
        <result column="param_value" jdbcType="VARCHAR" property="paramValue"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, param_key, param_value, status, create_by, create_time, update_by, update_time,
        remarks
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_param
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByCondition" parameterType="com.seezoon.framework.entity.QueryCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_param
        <where>
            <if test="paramKey != null and paramKey != ''">
                param_key = #{paramKey}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey">
        delete from sys_param
        where id in
        <foreach item="item" collection="array" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into sys_param ( name, param_key,
        param_value, status, create_by,
        create_time, update_by, update_time,
        remarks)
        values
        <foreach item="item" collection="array" separator=",">
            (#{item.name,jdbcType=VARCHAR}, #{item.paramKey,jdbcType=VARCHAR},
            #{item.paramValue,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT}, #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.remarks,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.modules.sys.entity.SysParam">
        update sys_param
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="paramKey != null">
                param_key = #{paramKey,jdbcType=VARCHAR},
            </if>
            <if test="paramValue != null">
                param_value = #{paramValue,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.seezoon.modules.sys.entity.SysParam">
        update sys_param
        set name = #{name,jdbcType=VARCHAR},
        param_key = #{paramKey,jdbcType=VARCHAR},
        param_value = #{paramValue,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>