@font-face {
  font-family: "iconfont"; /* Project id 2739165 */
  src: url('~@/static/css/iconfont.woff2?t=1628698020733') format('woff2'),
       url('~@/static/css/iconfont.woff?t=1628698020733') format('woff'),
       url('~@/static/css/iconfont.ttf?t=1628698020733') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye1:before {
  content: "\e600";
} 

.icon-wode:before {
  content: "\e604"; 
}

